<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ali" version="2.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ali</name>
    <preference name="APP_ID"/>
    <js-module name="ali" src="www/ali.js">
        <clobbers target="cordova.plugins.ali"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ali">
                <param name="android-package" value="cn.xxxm.ali.ali"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
        </config-file>

        <source-file src="src/android/ali.java" target-dir="src/cn/xxxm/ali"/>
        <source-file src="src/android/PayResult.java" target-dir="src/cn/xxxm/ali"/>
        <lib-file src="src/android/lib/alipaysdk-15.8.00.201112210139.aar" />
        <framework src="src/android/ali.gradle" custom="true" type="gradleReference"/>
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ali">
                <param name="ios-package" value="ali"/>
            </feature>
            <preference name="alipayid" value="$APP_ID"/>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>alipay</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>ali$APP_ID</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <framework src="CoreTelephony.framework" weak="true"/>
        <framework src="SystemConfiguration.framework" weak="true"/>
        <framework src="CoreMotion.framework" weak="true"/>
        <framework src="CFNetwork.framework" weak="true"/>
        <framework src="libc++.tbd" weak="true"/>
        <framework src="libz.tbd" weak="true"/>
        <framework src="CoreText.framework" weak="true"/>
        <framework src="CoreGraphics.framework" weak="true"/>
        <framework src="UIKit.framework" weak="true"/>
        <framework src="QuartzCore.framework" weak="true"/>
        <framework src="Foundation.framework" weak="true"/>

        <framework src="src/ios/lib/AlipaySDK.framework" custom="true"/>
        <resource-file src="src/ios/lib/AlipaySDK.bundle"/>
        <source-file src="src/ios/ali.m"/>
    </platform>
</plugin>
